body {
  font-family: Arial, sans-serif;
  background: url(./images/suhyeon-choi-tTfDMaRq-FE-unsplash.jpg) center
    center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 90%;
}

h1{
  font-size: 1.7rem;
  text-transform: capitalize;
}
h1 span{
  color: #1717a5e8;
}
p {
  font-size:1.5em;
  margin-bottom: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
  width: 100%;
  display: block;
}
.logo img{
  width: 260px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

.countdown {
  margin: 20px 0;
}

.timer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.time {
  margin: 0 15px;
  text-align: center;
}

.time span {
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.label {
  font-size: 0.8em;
  color: #666;
}

form {
  margin-top: 20px;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  width: 70%;
}

button {
  padding: 10px 10px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  width: 55%;
}

button:hover {
  background-color: #e6e6e6;
}


@media (max-width:768px) {
  .container{
    width: 80%;
  }
  .logo img{
    width: 150px;
  }
  .countdown{
    display: none;
  }
  p{
    font-size:1rem;
    font-weight: 300;
  }
  
  button{
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 300;
    width: 55%;
    margin: 0;
  }
  
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  width: 70%;
}

}
